body {
    width: 1440px;
    margin: 0 auto;
}

#top {
    width: 100%;
    height: 103.38;
    padding: 20px 0 0 0;

}

#nav {
    float: right;
    width: 900px;
    height: 32px;
    margin: 0 150px 40px 0;
    margin-top: 20px;
    padding: 15px 0 15px 0px;

}

a:link {
    text-decoration: none;
}

ul {

    list-style-type: none;

    padding: 0;
    overflow: hidden;
    background-image: linear-gradient(white, #5b5c651e);
}

li {
    float: left;
}

li a {

    color: #828282;
    text-align: center;
    margin-top: 20px;
    padding: 0px 9px;
    text-decoration: none;
}

li a:hover {
    color: #00995d;
}

.active {
    margin: 50px 0 0 200px;
}

ul img {
    padding-top: 15px;
}

ol,
ul {
    margin-top: 0;
    margin-bottom: 0;
}


* {
    margin: 0px;
    padding: 0px;
}

#principal {
    width: 1440px;
    height: 411px;
}

.galeria {
    margin: 100px auto;
    width: 1440px;
    height: 411px;
    position: relative;
    overflow: hidden;
}

#busk {
    position: absolute;
    width: 1440px;
    height: 52px;
    background-color: #5b5c658a;

}

.busca {
    position: absolute;
    background: url("../IMAGENS/lupa.png") no-repeat center right;
    background-size: 20px;
    padding: 5px;
    border: none;
    width: 20px;
    overflow: hidden;
    cursor: pointer;
    transition: all 1s linear;
    align-items: center;
    padding: 15px 600px 15px;
    float: right;
    background-color: #5b5c6500;
}

.busca:focus {
    position: absolute;
    padding: 15px 447.75px 15px;
    margin: 0 auto;
    width: 992.25px;
    border-bottom: solid 1px gray;
    outline: none;
    background-color: #5b5c6500;
}

#busk span {
    position: absolute;
    margin: 15px 120px 15px;
    float: left;
    border-bottom: 1px solid rgba(73, 73, 73, 0.692);
    color: honeydew;

}

#bot {
    clear: both;
    width: 1440px;
    height: 162px;
    bottom: 239.5px;
    background-color: #0a5f55;


}

#bot span {
    color: #b1d34b;
    font-size: 11pt;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#bot li {
    color: honeydew;
    list-style-type: none;
    padding: 30px 60px 15px;
    font-style: bold;
}

#bot02 {
    float: left;
    width: 1024px;
    height: 239.95px;
    margin: 21px 151.5px;
    padding: 20px;
    background-color: rgba(240, 255, 240, 0.514);
    bottom: 0;

}

.ans {
    float: left;
    width: 309px;
    height: 159.95px;
    margin: 20px;
}

.a1 {
    width: 92px;
    height: 71.61px;
    margin: 10px 0 0;
}

.a2 {
    width: 100px;
    height: 53.58px;
    margin: 10px 40px 0;
}

.a3 {
    width: 90px;
    height: 47.44px;
    margin: 10px 60px 0;
}

.boot {
    float: left;
    width: 264.06px;
    height: 179.95px;
    margin: 0 20px 20px;
}

.b1 {
    float: left;
    width: 33px;
    height: 33px;
    margin: 80px;
}

.c1 {
    float: left;
    width: 135px;
    height: 39.95px;
    margin-left: 47px;
}

.c2 {
    width: 135px;
    height: 40px;
    float: left;
    margin-top: 3px;
    margin-left: 47px;
}

#bot02 span {
    color: black;
    font-size: 21pt;
    padding: 0 50px 0;
}





.topnav {
    margin: 0 auto;
    width: 1024px;
    overflow: hidden;
    background-color: #333;
}

.topnav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

.topnav a:hover {
    background-color: #ddd;
    color: black;
}

.topnav a.active {
    background-color: #4CAF50;
    color: white;
}

.active00,
.active01,
.active02,
.active03,
.active04 {
    width: 204.8px;
    height: 52px;

}

.active00 {
    background-color: #00995d;
}

.active01 {
    background-color: rgb(0, 99, 99);
}

.active02 {
    background-color: rgb(0, 58, 0);
}

.active03 {
    background-color: #00995d;
}

.active04 {
    background-color: #5b5c65;
}

#principal0 {
    width: 1024px;
    height: 567.5px;
    margin: 30px 0 0 208px;
}

#principal01{
    background-image:url(https://blog.mackenzie.br/content/images/2020/02/giphy--5-.gif);
    background-size: 450px;
    height: 500px;
    margin-bottom: 30px;
}

#vertical{
    width: 460.81px;
    height: 380px;
    float: left;
}

.p1{
    margin: 40px 110px 10px 0;
    
}

#img09{
    width: 1440px;
    height: 527px;
    margin-bottom: 30px;
}

.light-green {
    color: #b1d34b;
    font-family: 'Nunito Sans', sans-serif;
    font: 900;
    font-size: 32pt;
}

.green-large {
    color: #00995d;
    font-size: 30pt;
    
}

.green-small {
    color: #00995d;
    font-size: 22pt;
    

}

.img05{
    float: left;
    width: 512px;
    height: 527.5px;
}

#movie{
    margin: 0 auto;
    width: 1024px;
    margin-bottom: 30px;
}

.uni0{
    margin-top: 30px;
    font-family: 'Nunito Sans', sans-serif;
    font: 900;
    text-align: center;
    text-shadow: 1px 1px 1.5px whitesmoke;
}
.uni1{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
    margin-top: -9px;
    color: rgb(90, 90, 90);
    text-shadow: 1px 1px 1.5px whitesmoke;
}

#dbr{
    background-color:rgb(243, 255, 238) ;
    border: 1px solid gray;
    border-radius: 15px;
    box-shadow: 1px 3px 10px gray;
    width: 634.98px;
    height: 327.59px;
    margin: 30px auto;
}

.br{
    margin-top: -40px ;
    padding: 0 250px;
    color: green;
    font-size: 20px;
}

.busca-rap{
    margin-top: 20px;
    margin: 30px 0 0 20px;
    border: none;
    border-bottom: 1px solid rgb(94, 94, 94);
    font-size: 16pt;
    text-align: center;
    width: 588.98px;
    height: 25px;

}

.cpf{
    width: 227.89px;
    height: 38px;
    padding: 8px 8px 8px 10px;
    border-radius: 5px;
    border: 1px solid rgb(148, 148, 148);
    margin: 50px 300px 0px 180px;
}

.help{
    color: rgb(107, 107, 107);
    margin: 0 0 30px 180px;
}
.bp{
    
    border: 1px solid rgb(55, 85, 10);
    border-radius: 2px;
    float: left;
    margin: 50px 21px 0;
    width: 588.98px;
    height: 44px;
    padding: 10px 5px;
    background: rgb(125, 190, 27);
    color: green;
}

.head{
    font-family: 'IBM Plex Serif', serif;
    font: 400;
    font-size: 25pt;
    color: #00995d;
    margin: 20px 0px 30px 90px;
}

.p5{
    width: 839.67px;
    text-align: left;
    margin: 0 0 20px 95px;
}

#principal2{
    margin: 0 auto;
    width: 1024px;
    height: 1000px;
}

.form-horizontal{
    margin: 0 0 0 100px;
    width: 518.7px;
    height: 1069.16px;
}
#form{
    margin: 0 auto;
    width: 848.95px;
    height: 800px;
    background-color: #00995d;
}

.control-label, .ab{
    color: white;
}

#button1id{
    width: 110.47px;
    height: 38px;
    background: #ffffff;
    color: #828282;
    border: 1px solid #828282;
    border-radius: 20px;
    margin-right: 2px;
}

#button2id{
    width: 89.33px;
    height: 38px;
    background: #B1D34B;
    color: #ffffff;
    border: 1px solid #7dd34b;
    border-radius: 20px;
    /*margin-right: ;*/
}

.conf{
    color: white;
    float: right;
}
.fr{
    margin: 30px 0 0 380px;
}

.detais{
    padding-top: 50px;
}

.gr{
    color: #00995d;
}

#principal6{
    margin: 0 auto;
    width: 1024px;
    height: 415px;
}

.box-verde{
    width: 492px;
    height: 143px;
    border: 1px solid #00995d;
    float: left;
    margin: 15px 10px;
    padding: 10px;

}

.color{
    text-align: center;
    font-family: 'IBM Plex Serif', sans-serif;
    font: 500;
    color: #00995d;
    text-shadow: 1px 1px 1.5px black;
}

.p7{
    text-align: center;
}